img {
    width: 100px;
    height: 100px;
    background-color: brown;
}
    
p{
    text-align: left;
    font-style: italic;
    font-family: sans-serif;
}
.gallery{
    max-width: initial;
    max-height: initial;
    background-color: brown;
    margin: 0.5em;
    padding: inherit;
    image-resolution: 100px;
}
body{
    color: rgb(750, 0, 130);
    text-align: left;
    padding: 5px;
    border: 1px yellow;
    background-color: lightgreen;
}
img{
    width: 200x;
    height: 200px;
    position: center;
    top: 5px;
    right: 10px;
    background-color: crimson;
}
ul{
    text-align: left;
    display: list-item;
}
ol{
    text-align: left;
    display: list-item;
}
h1{
    color: rgb(0, 0, 128);
    text-align: left;
    text-shadow: 2px 2px 5px brown;
    padding: 10px;
}
h2{
    color: rgb(0, 0, 128);
    text-align: left;
}
.gallery {
    float: right;
    width: 25%;
    padding: 5px;
    margin: 0.2;
}
.gallery {
    opacity: o.5;
    cursor: zoom-out;
}
.gallery :hover {
    opacity: 1;
}
.row::after {
    content: normal;
    display: list-item;
}
 
   