img {
    width: 100px;
    height: 100px;
    background-color: brown;
}
    
p{
    text-align: left;
    font-style: italic;
    font-family: sans-serif;
}
.gallery{
    max-width: 800px;
    max-height: 800px;
    background-color: brown;
    image-resolution: 800px;
    margin-top: 0.1em;
}
body{
    color: rgb(750, 0, 130);
    text-align: left;
    padding: 5px;
    border: 1px yellow;
    background-color: lightgreen;
}
img{
    width: 200x;
    height: 200px;
    position: center;
    top: 5px;
    right: 10px;
    background-color: crimson;
}
ul{
    text-align: left;
    display: list-item;
}
ol{
    text-align: left;
    display: list-item;
}
h1{
    color: rgb(0, 0, 128);
    text-align: left;
    text-shadow: 2px 2px 5px brown;
    padding: 10px;
}
h2{
    color: rgb(0, 0, 128);
    text-align: left;
}

.grid-container {
    
    grid-row: auto auto auto;

}

.gallery :hover {
    opacity: 1;
}
.row::after {
    content: normal;
    display: list-item;
}
 
   