   
p{
    text-align: left;
    font-style: italic;
    font-family: sans-serif;

}
body{
    color: blue;
    text-align: left;
    padding: 5px;
    border: 1px yellow;
    background-color: cornsilk;
}
ul{
    text-align: left;
    display: list-item;
}
ol{
    text-align: left;
    display: list-item;

}
h1{
    color: rgb(0, 0, 128);
    text-align: center;
    text-shadow: 2px 2px 5px brown;
    padding: 10px;
    
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-left: 30px;
}
.profile {
    margin-left: 200px;
}
   